{% extends 'base.html' %}
{%load static%}
{%block content%}

<div class="container" id="app">
  <div>
   <h1>
     Post Job
   </h1> 
  </div>
  <div class="col-lg-12">
    <form action="#" method="post" class="form-contact" @submit.prevent="registerJob">
      {% csrf_token %}
      <div class="row">
        <div class="col-lg-12 mb-3">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="job-title">Job Title</label>
                <input class="form-control valid" required name="job-title" id="job-title" type="text"
                  placeholder="Enter job title" v-model="form.job_title" />
              </div>
            </div>
            <div class="col-md-6" style="height:48px">
              <div class="form-group">
                <label for="education-level">Educational Level</label>
                  <select class="form-control" namr="education-level" id="education-level" required v-bind="form.job_educational_level">
                    <option value="ELEMENTARY">Elementary school</option>
                    <option value="HIGH_SCHOOL">High school</option>
                    <option value="BSc">Bachelors degree</option>
                    <option value="MSc">Masters degree</option>
                    <option value="PHD">Doctorate(PHD)</option>
                  </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="job-requirement">Job Requirements</label>
            <textarea required class="form-control" name="job-requirement" id="job-requirement" rows="5"
              placeholder="Enter job Requirements and skill" v-model="form.job_requirement"></textarea>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="job-experience">Experience</label>
            <textarea required class="form-control" id="job-experience" name="job-experience" rows="5"
              placeholder="Enter job required Experiences" v-model="form.job_experience"></textarea>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="job-experience_year">Experience Year</label>
                <input required class="form-control valid" name="job-experience_year" id="job-experience_year" type="number"
                  placeholder="required Experience year" v-model="form.job_experience_year">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="job-salary">Salary</label>
                <input required class="form-control valid" name="job-salary" id="job-salary" type="number"
                  placeholder="starting Salary in Birr" v-model="form.job_salary">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="name">xxx placeholder</label>

            <input required class="form-control" placeholder="Enter Subject" />
          </div>
        </div>

        <div class="col-lg-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="job-location">Location</label>
                <div class="form-select">
                  <select required class="form-control" name="job-location" id="job-location">
                    <option value="1">Tigray</option>
                    <option value="2">Afar</option>
                    <option value="3">Amhara</option>
                    <option value="4">Oromia</option>
                    <option value="11">Addis Ababa</option>
                    <option value="12">Dire Dewa</option>
                  </select>
                 
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Job Type</label>
                  <select required class="form-control" id="job-type">
                    <option value="FULL_TIME">FULL TIME</option>
                    <option value="PART_TIME">PART TIME</option>
                    <option value="REMOTE">REMOTE</option>
                    <option value="FREELANCE">FREELANCE</option>
                  </select>

              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="company">Select Your Company</label>
                <input name="company" type="text" class="form-control" placeholder="Your Company" readonly/>
      
                </div>
              </div>
 
            <div class="col-sm-6">
              <div class="form-group">
                <label for="job-cateogry">Job Category</label>
                  <select class="form-control" name="job-cateogry" required id="job-category" v-bind="form.job_category">
                    <option value="Architecture">Architecture</option>
                    <option value="Construction">Construction</option>
                    <option value="Electrician">Electrician</option>
                    <option value="Civil Engineer">Civil Engineer</option>
                    <option value="Reporter" class="option">Reporter</option>
                    <option value="Graphic Designer" class="option">Graphic Designer</option>
                    <option value="Editor" class="option">Editor</option>
                    <option value="Human Resources Manager" class="option">Human Resources Manager</option>
                    <option value="Teacher" class="option">Teacher</option>
                    <option value="Librarian" class="option">Librarian</option>
                    <option value="Legislator" class="option">Legislator</option>
                    <option value="Computer Programmer" class="option">Computer Programmer</option>
                    <option value="Web Developer" class="option">Web Developer</option>
                  </select>
              </div>
            </div>
          </didv>

          </div>
        </div>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="job-start_date">Start Date</label>
                <input required class="form-control valid" name="job-start_date" id="job-start_date" type="date"
                  placeholder="job starting date for job application" v-model="form.job_start_date">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="job-end_date">End Date(Dead Line)</label>
                <input required class="form-control valid" name="job-end_date" id="job-end_date" type="date"
                  placeholder="job end for job application" v-model="form.job_end_date">
              </div>
            </div>
          </div>
        </div>
        

      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="job-description">Job Description</label>
          <textarea required class="form-control" name="job-description" id="job-description" rows="5"
            placeholder="Job Description" v-model="form.job_description"></textarea>
        </div>
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="button  boxed-btn">
          POST
        </button>
      </div>
  </div>
  </form>
  <div>
  </div>
</div>
</div>


<script src="{% static 'js/vue2.js' %}"></script>
<script src="{% static 'js/axios.js' %}"></script>
<script>
  axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
  axios.defaults.xsrfCookieName = "csrftoken";

  var app = new Vue({
    delimiters: ["[[", "]]"],
    el: '#app',
    data: {
      form: {
        job_title: null,
        job_description: null,
        job_requirement: null,
        job_experience: null,
        job_start_date: null,
        job_end_date: null,
        job_salary: null,
        job_category: null,
        job_educational_level: null,
        job_type: null,
        job_location: null,
        job_company: null,
        job_experience_year: null,
      },
    },
    methods: {
      printTitle: function () {
        console.log(this.job_title)
      },
      registerJob: function () {
        let data = new FormData()
        data.append("job-title", this.form.job_title)
        data.append("job-description", this.form.job_description)
        data.append("job-requirement", this.form.job_requirement)
        data.append("job-start_date", this.form.job_start_date)
        data.append("job-end_date", this.form.job_end_date)
        data.append("job-salary", this.form.job_salary)
        data.append("job-educational_level", $('#education-level').niceSelect().val())
        data.append("job-category", $('#job-category').niceSelect().val())
        data.append("job-type", $('#job-type').niceSelect().val())
        data.append("job-location", $('#job-location').niceSelect().val())
        
        data.append("job-company", this.form.job_company)
        data.append("job-experience_year", this.form.job_experience_year)
        data.append("job-experience", this.form.job_experience)

        axios.post('http://localhost:8000/job-post', data)

        // console.log("location: ", $('#job-location').niceSelect().val())
        // console.log("job-type: ", $('#job-type').niceSelect().val())
        // console.log("job-category: ", $('#job-category').niceSelect().val())
        // console.log("educational-level: ", $('#education-level').niceSelect().val())
        
      },
    }
  })
</script>
{%endblock content %}