{% extends 'base.html' %}
{%load static%}
{%block content%}
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 
            d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h3>Job Applications for your Company</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->
        <!-- Job List Area Start -->
        <div class="job-listing-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <!-- Left content -->
                    
                    {% if user.is_company_and_employer_is_approved %}
                    <!-- Right content -->
                    <div class="col-xl-9 col-lg-9 col-md-8">
                        <!-- Featured_job_start -->
                        <section class="featured-job-area">
                            <div class="container">
                                <!-- Count of Job list Start -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="count-job mb-35">
                                            <span>{{applications.count}} Job Applications found</span>
                                           
                                        </div>
                                    </div>
                                </div>
                                <!-- Count of Job list End -->
                                <!-- single-job-content -->
                              {%if job_apps %}
                                {% for application in job_apps %}
                                <!-- single-job-content -->
                                <div class="single-job-items mb-30">
                                    <div class="job-items">
                                        <div class="company-img">
                                            <a href="#"><img src="{% static 'assets/img/icon/job-list2.png' %}" alt=""></a>
                                        </div>
                                        <div class="job-tittle job-tittle2">
                                            <a href="#">
                                                <h4>{{application.job.title|truncatechars:30}}
                                                    
                                                </h4>
                                            </a>
                                            <ul>
                                                <li>
                                                    <span>By </span>
                                                    <a class="text-primary" href="#">
                                                        {{application.user.user.first_name}} {{application.user.user.last_name}}
                                                    </a>
                                                    <small class="ml-5 text-info">{{application.status}}</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="items-link items-link2 f-right">
                                        <a href="{%url 'job-application-detail' application.id%}">View</a>
                                        <span>{{application.created_at|date}}</span>
                                    </div>
                                </div>
                                {%endfor%}
                                {%else%}
                                <h3>No Job application for your company</h3>
                              {%endif %}
                                
                                
                            </div>
                        </section>
                        <!-- Featured_job_end -->
                    </div>
                </div>
                {% else %}
                <h2 class="text-info"> Sorry We are reviewing your account, we will contact you! </h2>
              {% endif %}
            </div>
        </div>
        <!-- Job List Area End -->

     {%endblock%}