{% extends 'base.html' %}
{% load static%}
<!-- Hero Area End -->
{%block content%}
  <div class="container col-md-6">
    <form action="{%url 'create-account' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.errors.password2}}
      
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first_name">First Name</label>
          {{form.first_name}}
        </div>
        <div class="form-group col-md-6">
          <label for="last_Name">Last Name</label>
          {{form.last_name}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="username">Username</label>
            {{form.username}}
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="email">Email</label>
            {{form.email}}
            {% comment %} <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> {% endcomment %}

          </div>
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
            <div class="form-group">
              <label for="password1">Password</label>
              {{form.password1}}
             <small id="emailHelp" class="form-text text-danger">{{form.password2.error}}</small>

            </div>
          </div>

        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="password2">Password confirmation</label>
            {{form.password2}}
            <small id="emailHelp" class="form-text text-danger">{{form.errors.password2}}</small>

          </div>
         </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="phone">Phone</label>
            {{form.phone}}
           </div>
        </div>
        <div class="form-group col-md-6">
          <label for="password1">Gender</label>
          {{form.gender}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="education_level">Education</label>
          {{ applicant_form.education_level }}
        </div>
        <div class="form-group col-md-6" style="display:none">
          <label for="education_level">Register AS</label>
          {{ form.user_type }} 
        </div>
     </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="city">City</label>
          {{form.city}}
        </div>
        <div class="form-group col-md-6">
          <label for="region">Region</label>
          {{form.region}}
        </div>
      </div>
      <div class="form-group col-md-12">
        <label for="resume">Upload Resume</label>
        {{applicant_form.resume}}
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
{%endblock content%}
