{% extends 'base.html' %} {%load static%} {%block content%}
<!-- Hero Area Start-->
<div class="slider-area">
  <div
    class="single-slider section-overly slider-height2 d-flex align-items-center"
    data-background="{% static 'assets/img/hero/about.jpg' %}"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Get your job</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Area End -->
<!-- Job List Area Start -->
<div class="job-listing-area pt-120 pb-120">
  <div class="container">
    <div class="row">
      <!-- Left content -->
      <div class="col-xl-3 col-lg-3 col-md-4">
        <div class="row">
          <div class="col-12">
            <div class="small-section-tittle2 mb-45">
              <div class="ion">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="20px"
                  height="12px"
                >
                  <path
                    fill-rule="evenodd"
                    fill="rgb(27, 207, 107)"
                    d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"
                  />
                </svg>
              </div>
              <h4>Filter Jobs</h4>
            </div>
          </div>
        </div>
        <!-- Job Category Listing start -->
        <div class="job-category-listing mb-50">
          {% comment %} action="{%url 'job-list' %}" {% endcomment %}
          <form action="#">
            <!-- single one -->
            <div class="single-listing">
              <div class="small-section-tittle2">
                <h4>Job Category</h4>
              </div>
              <!-- Select job items start -->
              <div class="select-job-items2f">
                <select name="category" class="form-control" v-model="cateogry">
                  <option value="all">All Category</option>
                  {% for category in job_category %}
                  <option value="{{category.0}}">{{category.1}}</option>
                  {% endfor %}
                </select>
              </div>
              <!--  Select job items End-->
              <!-- select-Categories start -->
              <div class="select-Categories pt-80 pb-50">
                <div class="small-section-tittle2">
                  <h4>Job Type</h4>
                </div>
                {% for type in job_type %}
                <label class="container"
                  >{{type.1}}
                  <input
                    type="checkbox"
                    name="job_type"
                    value="{{type.0}}"
                    v-model="type"
                  />
                  <span class="checkmark"></span>
                </label>
                {% endfor %}
              </div>
              <!-- select-Categories End -->
            </div>
            <!-- single two -->
            <div class="single-listing">
              <div class="small-section-tittle2">
                <h4>Job Location</h4>
              </div>
              <!-- Select job items start -->
              <div class="">
                <select name="location" class="form-control" v-model="type">
                  <option value="anywhere">Anywhere</option>
                  {% for location in job_location %}
                  <option value="{{location.0}}">{{location.1}}</option>
                  {% endfor %}
                </select>
              </div>
              <!--  Select job items End-->
              <!-- select-Categories start -->
              <div class="select-Categories pt-80 pb-50">
                <div class="small-section-tittle2">
                  <h4>Experience Year</h4>
                </div>
                <label class="container"
                  >1-2 Years
                  <input type="radio" name="experience_year" value="1-2" />
                  <span class="checkmark"></span>
                </label>
                <label class="container"
                  >2-3 Years
                  <input type="radio" name="experience_year" value="2-3" />
                  <span class="checkmark"></span>
                </label>
                <label class="container"
                  >3-6 Years
                  <input type="radio" name="experience_year" value="3-6" />
                  <span class="checkmark"></span>
                </label>
                <label class="container"
                  >more than 6
                  <input type="radio" name="experience_year" value=">6" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <!-- select-Categories End -->
            </div>
            <!-- single three -->
            <div class="single-listing">
              <!-- select-Categories start -->
              <div class="select-Categories pb-50">
                <div class="small-section-tittle2">
                  <h4>Posted Within</h4>
                </div>
                <label class="container"
                  >Any
                  <input
                    type="radio"
                    value="any"
                    name="posted_in"
                    checked="checked active"
                  />
                  <span class="checkmark"></span>
                </label>
                <label class="container"
                  >Today
                  <input type="radio" name="posted_in" value="today" />
                  <span class="checkmark"></span>
                </label>
                <label class="container"
                  >Last 2 days
                  <input type="radio" name="posted_in" value="2" />
                  <span class="checkmark"></span>
                </label>
                <label class="container"
                  >Last 3 days
                  <input type="radio" name="posted_in" value="3" />
                  <span class="checkmark"></span>
                </label>
                <label class="container"
                  >Last 5 days
                  <input type="radio" name="posted_in" value="5" />
                  <span class="checkmark"></span>
                </label>
                <label class="container"
                  >Last 10 days
                  <input type="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <!-- select-Categories End -->
            </div>
            <div class="small-section-tittle2">
              <h4>Salary</h4>
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    name="min-salary"
                    class="form-control"
                    placeholder="min"
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    name="max-salary"
                    class="form-control"
                    placeholder="max"
                  />
                </div>
              </div>
            </div>
            <div class="mt-2 w-full">
              <button class="btn btn-primary">FILTER</button>
            </div>
          </form>
        </div>
        <!-- Job Category Listing End -->
      </div>
      <!-- Right content -->
      <div class="col-xl-9 col-lg-9 col-md-8">
        <!-- Featured_job_start -->
        <section class="featured-job-area">
          <div class="container">
            <!-- Count of Job list Start -->
            <div class="row">
              <div class="col-lg-12">
                <div class="count-job mb-35">
                  <span>{{jobs.count}} Jobs found</span>
                  <!-- Select job items start -->
                  <div class="select-job-items">
                    <form action="{%url 'job-list' %}" id="sortJobForm">
                      <span>Sort by</span>
                      <select name="jobSort" id="jobSort" onchange="sort()">
                        <option value="">None</option>
                        <option value="TIME">newst</option>
                        <option value="Year_Asc">experience year Asc</option>
                        <option value="Year_Dsc">experience year Dsc</option>
                        <option value="Salary_Desc">Salary Dec</option>
                        <option value="Salary_Asc">Salary Asc</option>
                      </select>
                    </form>
                  </div>
                  <!--  Select job items End-->
                </div>
              </div>
            </div>
            <!-- Count of Job list End -->
            <!-- single-job-content -->
            {% for job in jobs %}
            <div class="single-job-items mb-30 border-bottom border-bottom-1">
              <div class="job-items">
                <div class="company-img">
                  {% comment %}
                  <a href="#"
                    ><img
                      src="{% static 'assets/img/icon/job-list1.png' %}"
                      alt=""
                  /></a>
                  {% endcomment %}
                </div>
                <div class="job-tittle job-tittle2">
                  <a href="{% url 'job-detail' job.id %}">
                    <h5>
                      {{job.title|truncatechars:30}}
                      <small class="ml-5"> {{job.category}}</small>
                    </h5>
                  </a>
                  <ul>
                    <li title="company">{{job.company.name}}</li>
                    <li><i class="fas fa-map-marker-alt"></i>{{job.region}}</li>
                    <li>{{job.salary}} Birr</li>
                    <li title="job vacancy">{{job.vacancy}}</li>

                    <li title="experience year required">
                      {{job.experience_year}} year
                    </li>
                  </ul>
                </div>
              </div>
              <div class="items-link items-link2 f-right">
                <a href="{%url 'job-detail' job.id%} ">{{job.type}}</a>
                <span title="applicaion start-deadline"
                  >{{job.start_date}} - {{job.end_date}}</span
                >
              </div>
            </div>
            {% endfor %}
          </div>
        </section>
        {% if jobs.paginator.num_pages >= 2 %}
        <!-- Featured_job_end -->
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if jobs.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ jobs.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% endif %}
            <li class="page-item">
              <a class="page-link" href="?page=1" aria-label="Next">
                first
              </a>
            </li>
            {% if jobs.paginator.num_pages >= 2 %}
              <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
            {% endif %}
            {% if jobs.paginator.num_pages >= 3 %}
            <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
          {% endif %}

            <li class="page-item"><a class="page-link" href="#">...</a></li>
            
            {% if jobs.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{jobs.paginator.num_pages}}">last</a></li>
            <li class="page-item">
              <a class="page-link" href="?page={{ jobs.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Job List Area End -->

<script src="{% static 'js/axios.js' %}"></script>
<script>
  axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
  axios.defaults.xsrfCookieName = "csrftoken";

  function sort() {
    var x = document.getElementById("jobSort").value;
    var form = document.getElementById("sortJobForm").submit();
  }
</script>

{%endblock%}
