{% extends 'base.html' %}
{%load static%}
{%block content%}

<div class="container" id="app">
  <div>
   <h1>
     Post Job
   </h1> 
  </div>
  <div class="col-lg-12">
    {% if user.is_company_and_employer_is_approved %}
    <form action="{%url 'job-post' %}" method="post" class="form-contact">
      {% csrf_token %}
      <div class="row">
        <div class="col-lg-12 mb-3">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="job-title">Job Title</label>
                {{job_form.title}}
                {% comment %} <input class="form-control valid" required name="job-title" id="job-title" type="text"
                  placeholder="Enter job title" v-model="form.job_title" /> {% endcomment %}
              </div>
            </div>
            <div class="col-md-6" style="height:48px">
              <div class="form-group">
                <label for="education-level">Educational Level</label>
                {{job_form.education_level}}
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="job-experience_year">Experience Year</label>
                {{job_form.experience_year}}
                 </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="job-salary">Salary</label>
                {{job_form.salary}}

               </div>
            </div>
          </div>

          <div class="form-group">
            <label for="name">Vacancy</label>
            {{job_form.vacancy}}
          </div>
        </div>

        <div class="col-lg-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="job-location">Location</label>
                {{job_form.region}}

              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Job Type</label>
                {{job_form.type}}
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="company">Select Your Company</label>
                {{job_form.company}}

                
                </div>
              </div>
 
            <div class="col-sm-6">
              <div class="form-group">
                <label for="job-cateogry">Job Category</label>
                {{job_form.category}}
              </div>
            </div>
          </didv>

          </div>
        </div>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="job-start_date">Start Date</label>
                {{job_form.start_date}}

                </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="job-end_date">End Date(Dead Line)</label>
                {{job_form.end_date}}

                 </div>
            </div>
          </div>
        </div>
        

      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="job-requirement">Job Requirements</label>
          {{job_form.requirement}}
          </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="job-experience">Experience</label>
          {{job_form.experience}}

          </div>
      <div class="col-12">
        <div class="form-group">
          <label for="job-description">Job Description</label>
          {{job_form.description}}

           </div>
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="button  boxed-btn">
          POST
        </button>
      </div>
    </form>
    {% else %}
      <h2 class="text-info"> Sorry We are reviewing your account, we will contact you! </h2>
    {% endif %}
  </div>
  <div>
  </div>
</div>
</div>


<script src="{% static 'js/vue2.js' %}"></script>
<script src="{% static 'js/axios.js' %}"></script>
<script>
  axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
  axios.defaults.xsrfCookieName = "csrftoken";

  var app = new Vue({
    delimiters: ["[[", "]]"],
    el: '#app',
    data: {
      form: {
        job_title: null,
        job_description: null,
        job_requirement: null,
        job_experience: null,
        job_start_date: null,
        job_end_date: null,
        job_salary: null,
        job_category: null,
        job_educational_level: null,
        job_type: null,
        job_location: null,
        job_company: null,
        job_experience_year: null,
      },
    },
    methods: {
      printTitle: function () {
        console.log(this.job_title)
      },
      registerJob: function () {
        let data = new FormData()
        data.append("job-title", this.form.job_title)
        data.append("job-description", this.form.job_description)
        data.append("job-requirement", this.form.job_requirement)
        data.append("job-start_date", this.form.job_start_date)
        data.append("job-end_date", this.form.job_end_date)
        data.append("job-salary", this.form.job_salary)
        data.append("job-educational_level", $('#education-level').niceSelect().val())
        data.append("job-category", $('#job-category').niceSelect().val())
        data.append("job-type", $('#job-type').niceSelect().val())
        data.append("job-location", $('#job-location').niceSelect().val())
        
        data.append("job-company", this.form.job_company)
        data.append("job-experience_year", this.form.job_experience_year)
        data.append("job-experience", this.form.job_experience)

        axios.post('http://localhost:8000/job-post', data)

        // console.log("location: ", $('#job-location').niceSelect().val())
        // console.log("job-type: ", $('#job-type').niceSelect().val())
        // console.log("job-category: ", $('#job-category').niceSelect().val())
        // console.log("educational-level: ", $('#education-level').niceSelect().val())
        
      },
    }
  })
</script>
{%endblock content %}